version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: churninsight-db
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    build: .
    container_name: churninsight
    depends_on:
      - postgres
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/${DB_NAME}
      SPRING_DATASOURCE_USERNAME: ${DB_USER}
      SPRING_DATASOURCE_PASSWORD: ${DB_PASSWORD}
    restart: unless-stopped

  model:
    container_name: churninsight-model
    build:
      context: ../churnisight-ml
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
  frontend:
    container_name: churninsight-frontend
    build:
      context: ../churninsight-frontend
      dockerfile: Dockerfile
    ports:
      - "3000:80"
    depends_on:
      - api
volumes:
  postgres_data:
